.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: calc(100% - 45px);
  grid-template-rows: 50% 50%;
  column-gap: 10px;
}

.box--main {
  order: 0;
  grid-column: 1 / 3;
  grid-row: span 2;

  /**border-top: 20px solid #8DBF19;*/
}

.box {
  max-height:100%;
  display: inline;
}

.box--side {
  order: 1;
  grid-column: 3 / 4;
  height: 100%;

  /**border-top: 20px solid #8DBF19;**/
}

.box--3 {
  overflow-y: scroll;
  border-top: 10px solid #8DBF19;
}

.mobile-only {
  position: fixed;
  left: 45vW;
  top: 15vH;
  display: none;
  border-top: 20px solid #8DBF19;
}
