table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

.header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: rgb(22, 22, 21);
    background-color: rgb(245, 245, 245);
    padding: 0.5em;
    grid-column: span all; /* Header über beide Spalten */
}

.label {
    font-weight: bold;
    padding: 0.5em;
    background-color: rgb(197, 240, 140); /* Grün hinterlegt */
    vertical-align: top; /* Oben in der Kachel ausrichten */
}

.value {
    padding: 0.5em;
    background-color: rgb(245, 245, 245); /* Leicht grauer Hintergrund */
    vertical-align: top;  
}
