html, body {
  height: 100%;
  width: 100%;
}

 

 

 

.mobile-only {
  position: fixed;
  left: 45vW;
  top: 15vH;
  display: none;#
      border-top:20px solid #8DBF19;
}





 

 

.topbar{
	background-color: #8DBF19;
	margin-bottom:5px;
}
#steckbrief{

   background:url("/img/steckbrief.jpg");
   background-size: contain;
}

.image{
	height:100%;
  object-fit: cover;
   display:block;
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20x;
  margin-left: 50px;
  margin-top: 30px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #8DBF19;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
 background-color: #8DBF19;
 }
 
 .navbar img {
  max-height: 30px;
}

.searchfield{
	
	padding-left: 10px;
 
	margin-left: 10px;
	margin-top: 5px;
}


.dropdown{
	
	padding-left: 10px;
 
	margin-left: 10px;
	margin-top: 5px;
}


.searchlabel{
	
	padding-left: 10px;
 
	margin-left: 10px;
	padding-top: 5px;
}


 
 



model-viewer{

 overflow-x:hidden;
 overflow-y:hidden;
 height:95%;
 width:100%;
}










@media screen and (max-width: 576px){
  .mobile-only {
    display: block;
  }
  
  .box--side {
    display: none;
  }
  
  .box--main {
    order: 0;
    grid-column: 1 / 4;
    grid-row: span 2;
  }
}
